<kendo-dialog *ngIf="active" [width]="450" [height]="600" (close)="closeForm()">
    <kendo-dialog-titlebar class="">
        {{ isNew ? "Add New" : "Edit" }}
    </kendo-dialog-titlebar>
    <form novalidate class="k-form k-form-md" [formGroup]="orderForm">
        <fieldset class="k-form-fieldset">
            <kendo-floatinglabel text="Order Number *">
                <input
                    kendoTextBox
                    class="form-control"
                    formControlName="order_number"
                />
            </kendo-floatinglabel>

            <kendo-floatinglabel text="Good ID *">
                <input
                    kendoTextBox
                    class="form-control"
                    formControlName="good_id"
                />
            </kendo-floatinglabel>

            <kendo-floatinglabel text="Quantity *">
                <input
                    kendoTextBox
                    class="form-control"
                    formControlName="quantity"
                />
            </kendo-floatinglabel>

        </fieldset>
    </form>

    <kendo-dialog-actions>
        <button class="btn btn-outline-primary" (click)="onCancel($event)">
            Cancel
        </button>
        <button
            class="btn btn-primary"
            [disabled]="!orderForm.valid"
            (click)="onSave($event)"
        >
            Save
        </button>
    </kendo-dialog-actions>
</kendo-dialog>
