<div class="header">
    <div class="header-left">
        <div class="menu-icon bi bi-list"></div>
    </div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown">
                    <span class="user-name mt-3">{{ Admin }}</span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="left-side-bar">
    <div class="brand-logo text-center">
        <h4 class="text-light mt-5">RCEP</h4>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a routerLink="/dashboard" class="dropdown-toggle no-arrow active">
                        <span class="micon bi bi-house"></span><span class="mtext">Home</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a routerLink="/admin" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-person"></span><span class="mtext">TEST 1</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a routerLink="/councillor" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-person"></span><span class="mtext">TEST @</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a routerLink="/developer" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-person"></span><span class="mtext">Developers</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a routerLink="/user" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-person"></span><span class="mtext">Users</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a routerLink="/music" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-music-note-list"></span><span class="mtext">Finding Pease</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a routerLink="/event" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-rss"></span><span class="mtext">Events</span>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a routerLink="/" class="dropdown-toggle no-arrow text-danger">
                        <span class="micon bi bi-door-closed text-danger"></span><span class="mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container">
    <h1>hello</h1>
</div>